.page-tariffs-content__left {
    width: 23%;
    margin-left: 20px;
    margin-right: 20px;
}

.page-tariffs-content {
    display: flex;
    margin-top: 45px;
}

.page-tariffs-content__right {
    width: 70%;
}

.page-tariffs-content__right .sidebar {
    margin-bottom: 12px;
}