.reviews__title {
    font-size: 33px;
    margin-bottom: 33px;
    line-height: 1;
}

.reviews .content-block__picture {
    min-width: 160px;
    min-height: 160px;
}

.reviews .content-block__avatar {
    min-width: unset;
}

.reviews {
    margin-bottom: 40px;
}